@import "tailwindcss";

:root {
  --color-primary: #9d00ff;
  --color-primary-dark: #7a00c7;

  --color-background: #faf7ff;
  --color-foreground: #17121f;

  --color-muted: #6b6472;
  --color-border: #e8ddf0;

  --color-white: #ffffff;
}

@theme inline {
  --color-primary: #9d00ff;
  --color-primary-dark: #7a00c7;

  --color-background: #faf7ff;
  --color-foreground: #17121f;

  --color-muted: #6b6472;
  --color-border: #e8ddf0;

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
